input:focus{
  outline: none
}

input{
  color:rgba(38, 124, 24, .8);
  outline: none
}

input:focus-visible {
  border: 2px solid rgba(38, 124, 24, .5);
  border-radius: 20px;
}

input::placeholder {
  color: rgba(38, 124, 24, .8)
}

button {
  background-color: rgba(38, 124, 24, .8);
  border-radius: 20px;
  height: 2rem;
  color: whitesmoke;
  width: 200px;
  margin-top: 1rem;
  border-width: 0px;
}

button:hover{
  cursor: pointer;
}

button:active{
  transform: translate(1px, 1px)
}


.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 100px;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.user-register{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-register-form{
  width:200px
}



.register-input{
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  border-radius: 20px;
  border-width: 0px;
  background-color: rgba(38, 124, 24, 0.16);
  text-align: center;
  margin-top: 1rem
}

.outlined-input{
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  border-radius: 20px;
  border-width: 1px;
  border-color: rgb(37, 124, 24);
  border-style: solid;
  background-color: transparent;
  text-align: center;
  margin-top: 1rem
}



